# Ігнорувати віртуальне середовище
venv/
env/
ENV/

123

# Ігнорувати файли Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ігнорувати файли конфігурації
.env
.env.local

# Ігнорувати базу даних
*.db
*.sqlite
*.sqlite3

# Ігнорувати файли IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Ігнорувати логи
*.log

# Ігнорувати системні файли
.DS_Store
Thumbs.db
